/* CSS for App Component Start */

.App{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
}

#headtext{
	color: #343434;
	font-weight: normal;
	font-family:  sans-serif;   
	font-size: 20px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px black, 0 3px #777;
}

header{
    text-align: left;
    position: relative;
    align-self: center;
    height: 40px;
    width: 400px;
    font-size: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.App{
    animation: slide-in 0.5s both;
}

@keyframes slide-in{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0);

    }
}

header{
    animation: slide-in 0.9s both;
}

@keyframes slide-in{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0);

    }
}

/* CSS for Todo Component End */
